.logo {
  display: flex;
  vertical-align: middle;
  font-family: 'Caveat Brush', cursive; }
  .logo:hover, .logo:focus {
    background: inherit; }

.topbar {
  background-color: #F3E9F1;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem 2rem 2rem;
  align-items: center; }
  .topbar__logo {
    width: 5rem; }
  .topbar__nav {
    font-size: 1.5rem; }
    @media screen and (max-width: 425px) {
      .topbar__nav {
        font-size: 1rem; } }
  @media screen and (max-width: 425px) {
    .topbar {
      flex-direction: column;
      align-items: center;
      padding: 0; } }

.nav__link {
  text-decoration: none;
  color: black;
  padding: 0 1rem;
  max-width: 140px;
  font-weight: bold;
  text-decoration: none; }
  .nav__link:hover, .nav__link:focus {
    background: #BF7472cc; }
@media screen and (max-width: 425px) {
  .nav {
    display: flex;
    justify-content: space-between; } }

footer {
  text-align: center;
  background-color: #F3E9F1;
  position: fixed;
  width: 100%;
  bottom: 0; }

.list-product {
  margin-top: 1rem; }
  .list-product__block {
    border: 3px solid #59545e;
    margin: 1%;
    padding: 1%;
    display: flex;
    align-items: center; }
    .list-product__block--left {
      flex: 2; }
      .list-product__block--left img {
        width: 100%; }
    .list-product__block--right {
      flex: 3;
      text-align: center; }
      .list-product__block--right h2 {
        font-size: 3rem;
        color: red; }
        @media screen and (max-width: 425px) {
          .list-product__block--right h2 {
            font-size: 1.5rem; } }
      .list-product__block--right p {
        font-size: 1.5rem; }

.sheet-product {
  display: none;
  margin: 2rem; }
  .sheet-product__name {
    font-size: 2rem;
    text-align: center; }
  .sheet-product__img {
    flex: 3; }
    .sheet-product__img img {
      width: 100%; }
  .sheet-product__description {
    flex: 3;
    padding: 1rem; }
    @media screen and (max-width: 425px) {
      .sheet-product__description {
        padding: 0; } }
    .sheet-product__description__head {
      font-weight: bold; }
    .sheet-product__description__order {
      text-align: center; }

.titre {
  text-align: center;
  font-family: "Caveat Brush", cursive;
  color: #9167fd; }

a:link {
  text-decoration: none; }

#produits {
  display: flex;
  flex-flow: row wrap; }

#produits article {
  width: 300px;
  height: 350px;
  background-color: #fff;
  box-shadow: 3px 5px 5px #9167fd;
  transition: box-shadow 1s;
  margin: 2rem;
  margin-bottom: 2rem;
  padding: 1rem 0;
  position: relative;
  border: 2px solid #d88646; }

article img {
  display: inline-block;
  width: 75%;
  margin: auto; }

article .produits-title {
  text-align: center;
  font-size: 2rem;
  margin-left: 0;
  margin-bottom: 1rem; }

article .price {
  margin-top: 0;
  font-size: 1.5rem;
  text-align: center; }

#produits {
  width: 80%;
  background-color: #fff;
  box-shadow: 3px 5px 5px #9167fd;
  transition: box-shadow 1s;
  margin: 1rem auto 5rem;
  position: relative;
  border: 2px solid #d88646;
  padding: 3rem;
  text-align: center; }

#produits-information {
  margin: auto; }

#produits-title {
  margin: auto; }

#lenses-list {
  margin: auto; }

.add-to-cart {
  margin: auto;
  padding: 0.5rem; }

label {
  margin: auto; }

#cart h3,
#cart article {
  color: #000000;
  background-color: #f3e9f1;
  font-size: 1.2rem;
  width: 80%;
  display: flex;
  justify-content: space-between;
  height: auto;
  margin: 1rem auto;
  padding: 2rem;
  box-shadow: none;
  border: 2px solid black; }

#cart h3 {
  justify-content: center; }

#cart article img {
  width: 20%;
  display: inline-block;
  margin: 1rem; }

.remove {
  margin-left: 2rem; }

.moins,
.plus {
  margin: 0.5rem; }

form {
  flex-flow: column wrap;
  color: #000000;
  background-color: #f3e9f1;
  font-size: 1.2rem;
  width: 80%;
  display: flex;
  justify-content: space-between;
  height: auto;
  margin: 1rem auto 5rem;
  padding: 2rem;
  box-shadow: none;
  border: 2px solid black; }

.invisible {
  display: none; }

#panniervide {
  color: #000000;
  background-color: #f3e9f1;
  font-size: 1.2rem;
  width: 80%;
  display: flex;
  justify-content: space-between;
  height: auto;
  margin: 1rem auto;
  padding: 2rem;
  box-shadow: none;
  border: 2px solid black; }

/*# sourceMappingURL=style.css.map */
