#produits article {
    
    
}
#produits {
    
    width: 80%;
    background-color: #fff;
    box-shadow: 3px 5px 5px #9167fd;
    transition: box-shadow 1s;
    margin: 1rem auto 5rem;
    position: relative;
    border: 2px solid #d88646;
    padding: 3rem;
    text-align: center;
}


#produits-information{
    margin: auto;
}
            
#produits-title{
    margin: auto;
}

#lenses-list{
    margin: auto;
}

.add-to-cart{
    margin: auto;
    padding: 0.5rem;
}

label{
    margin: auto; 
}