#produit {
    display: flex;
    align-items: center;
    background-color: #ffffff; 
    
    width: 80%;
    box-shadow: 3px 5px 5px #9167fd;
    transition: box-shadow 1s;
    margin: 1rem auto 5rem;
    position: relative;
    border: 2px solid #d88646;
    padding: 3rem;
    text-align: center;
}


#produits-information{
    margin: auto;
}
            
#produits-title{
    margin: auto;
}

#lenses-list{
    margin: auto;
}

.bouton-ajout{
    margin: auto;
    min-width: 12rem;
    padding: 1rem;
}

#produit label {
    margin: auto;
    min-width: 12rem;
    
}
.ajout{
    min-width: 7rem;
}
