.logo {
	display: flex;
	vertical-align: middle;
	font-family: 'Caveat Brush', cursive;
	&:hover, &:focus {
		background: inherit;
		
	}
}
.topbar {
	background-color: #F3E9F1;
	display: flex;
	justify-content: space-between;
	padding: 0 2rem 2rem 2rem;
	align-items: center;
	
	&__logo{
		width: 5rem;
	}
	&__nav{
		font-size: 1.5rem;
		@media screen  and (max-width: 425px){
			font-size: 1rem;
		}	
	}
	@media screen  and (max-width: 425px){
		flex-direction: column;
		align-items: center;
		padding :0;
	}
}