#cart article {
    color: #000000;
    background-color: #f3e9f1;
    font-size: 1.2rem;
    width: 80%;
    display: flex;
    justify-content: space-between;
    height: auto;
    margin: 1rem auto,;
    padding: 2rem;
    box-shadow: none;

}

#cart article img {
    width: 20%;
    display: inline-block;
    margin: 1rem;
}
 
#cart article .remove {
    margin: 0;
    cursor: pointer;
}

#cart article .remove:hover{
    color: red;
}

.moins,
.plus{
    margin: 0.5rem;
}

