#cart h3,
#cart article {
    color: #000000;
    background-color: #f3e9f1;
    font-size: 1.2rem;
    width: 80%;
    display: flex;
    justify-content: space-between;
    height: auto;
    margin: 1rem auto,;
    padding: 2rem;
    box-shadow: none;
    border: 2px solid black;
}
#cart h3{
    justify-content: center; 
}

#cart article img {
    width: 20%;
    display: inline-block;
    margin: 1rem;
}
 

.remove{
    margin-left: 2rem;
}

.moins,
.plus{
    margin: 0.5rem;
}
form {
    flex-flow: column wrap;
    color: #000000;
    background-color: #f3e9f1;
    font-size: 1.2rem;
    width: 80%;
    display: flex;
    justify-content: space-between;
    height: auto;
    margin: 1rem auto 5rem;
    padding: 2rem;
    box-shadow: none;
    border: 2px solid black;
}
