.titre {
  text-align: center;
  font-family: "Caveat Brush", cursive;
  color: #9167fd;
}

a:link {
  text-decoration: none;
}

#produits {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

#produits article {
  width: 40%;
  min-width: 350px;
  height: 50%;
  background-color: #fff;
  box-shadow: 3px 5px 5px #9167fd;
  transition: box-shadow 1s;
  margin: 0.5rem;
  margin-bottom: 2rem;
  padding: 0.5rem 0.5rem;
  position: relative;
  border: 2px solid #d88646;
  text-align: center; 
}

article img {
  display: inline-block;
  width: 75%;
  margin: auto;
}

article .produits-title {
  text-align: center;
  font-size: 2rem;
  margin-left: 0;
  margin-bottom: 1rem;
}
article .price {
  margin-top: 0;
  font-size: 1.5rem;
  text-align: center;
}
